{%extends 'baseapp/main.html'%}
{% load static %}
{% block content %}



<h1>Wellcome,In altaf.com</h1>

<form class="was-validated">
  <div class="mb-3">
    <label for="validationTextarea">New Post</label>
    <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Required example textarea" required></textarea>
    <button><a href="#">Post</a></button>
  </div>
</form>

{% for post in obj  %}


<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ post.writer }}</a>
      <small class="text-muted">{{post.post_date}}</small>
    </div>
    <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
    <p class="article-content">{{ post.content }}</p>
  </div>
</article>

{% endfor %}


{% endblock content %}