{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Altaf.com</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
    
</head>
<body>
    <!--navbar-->

    {% include 'baseapp/navbar.html' %}
    
    <!--home card-->
 




   <h1>Latest post</h1>
  <div class="container">
 
    <div class="col">

        <div class="card-container">
         <a href="#"><img src="{% static 'images/cover.jpg' %}" class="card_img" alt="altaf"></a> 
          
          <div class="card">
            <h4>1-Juno Solves 39-Year Old Mystery of Jupiter Lightning</h4>
    
            <span class"chev">&rsaquo; <p>Date|author</p> </span>
          </div>
        </div>

    
      </div>
  
  
    <div class="col">

        <div class="card-container">
         <a href="#"><img src="{% static 'images/cover.jpg' %}" class="card_img" alt="altaf"></a> 
          
          <div class="card">
            <h4>1-Juno Solves 39-Year Old Mystery of Jupiter Lightning</h4>
    
            <span class"chev">&rsaquo; <p>Date|author</p> </span>
          </div>
        </div>

    
      </div>
  
    <div class="col">

        <div class="card-container">
         <a href="#"><img src="{% static 'images/cover.jpg' %}" class="card_img" alt="altaf"></a> 
          
          <div class="card">
            <h4>1-Juno Solves 39-Year Old Mystery of Jupiter Lightning</h4>
    
            <span class"chev">&rsaquo; <p>Date|author</p> </span>
          </div>
        </div>

    
      </div>
    
    
    
  </div>

<h1>Sports</h1>
<div class="container">
  

    <div class="col">

        <div class="card-container">
         <a href="#"><img src="{% static 'images/cover3.jpg' %}" class="card_img" alt="altaf"></a> 
          
          <div class="card">
            <h4>1-Juno Solves 39-Year Old Mystery of Jupiter Lightning</h4>
    
            <span class"chev">&rsaquo; <p>Date|author</p> </span>
          </div>
        </div>

    
      </div>

 

  <div class="col">

    <div class="card-container">
     <a href="#"><img src="{% static 'images/cover3.jpg' %}" class="card_img" alt="altaf"></a> 
      
      <div class="card">
        <h4>1-Juno Solves 39-Year Old Mystery of Jupiter Lightning</h4>

        <span class"chev">&rsaquo; <p>Date|author</p> </span>
      </div>
    </div>


  </div>


  <div class="col">

    <div class="card-container">
     <a href="#"><img src="{% static 'images/cover3.jpg' %}" class="card_img" alt="altaf"></a> 
      
      <div class="card">
        <h4>1-Juno Solves 39-Year Old Mystery of Jupiter Lightning</h4>

        <span class"chev">&rsaquo; <p>Date|author</p> </span>
      </div>
    </div>


  </div>

  <div class="col">

    <div class="card-container">
     <a href="#"><img src="{% static 'images/cover3.jpg' %}" class="card_img" alt="altaf"></a> 
      
      <div class="card">
        <h4>1-Juno Solves 39-Year Old Mystery of Jupiter Lightning</h4>

        <span class"chev">&rsaquo; <p>Date|author</p> </span>
      </div>
    </div>


  </div>
  
  
  
</div>

<h1>Top rated</h1>

<div class="container">
 

  <div class="col">

    <div class="card-container">
     <a href="#"><img src="{% static 'images/banner.jpg' %}" class="card_img" alt="altaf"></a> 
      
      <div class="card">
        <h4>1-Juno Solves 39-Year Old Mystery of Jupiter Lightning</h4>

        <span class"chev">&rsaquo; <p>Date|author</p> </span>
        
      
      </div>
    </div>

  </div>


 
  <div class="col">

    <div class="card-container">
     <a href="#"><img src="{% static 'images/banner.jpg' %}" class="card_img" alt="altaf"></a> 
      
      <div class="card">
        <h4>1-Juno Solves 39-Year Old Mystery of Jupiter Lightning</h4>

        <span class"chev">&rsaquo; <p>Date|author</p> </span>
        
      
      </div>
    </div>

  </div>

 
  <div class="col">

    <div class="card-container">
     <a href="#"><img src="{% static 'images/banner.jpg' %}" class="card_img" alt="altaf"></a> 
      
      <div class="card">
        <h4>1-Juno Solves 39-Year Old Mystery of Jupiter Lightning</h4>

        <span class"chev">&rsaquo; <p>Date|author</p> </span>
        
      
      </div>
    </div>

  </div>
  

  
</div>

<h1>Movies</h1>

<div class="container">
 


    <div class="col">

        <div class="card-container">
         <a href="#"><img src="{% static 'images/cover.jpg' %}" class="card_img" alt="altaf"></a> 
          
          <div class="card">
            <h4>1-Juno Solves 39-Year Old Mystery of Jupiter Lightning</h4>
    
            <span class"chev">&rsaquo; <p>Date|author</p> </span>
            
          
          </div>
        </div>
    
      </div>
  
      <div class="col">

        <div class="card-container">
         <a href="#"><img src="{% static 'images/cover.jpg' %}" class="card_img" alt="altaf"></a> 
          
          <div class="card">
            <h4>1-Juno Solves 39-Year Old Mystery of Jupiter Lightning</h4>
    
            <span class"chev">&rsaquo; <p>Date|author</p> </span>
            
          
          </div>
        </div>
    
      </div>

      <div class="col">

        <div class="card-container">
         <a href="#"><img src="{% static 'images/cover.jpg' %}" class="card_img" alt="altaf"></a> 
          
          <div class="card">
            <h4>1-Juno Solves 39-Year Old Mystery of Jupiter Lightning</h4>
    
            <span class"chev">&rsaquo; <p>Date|author</p> </span>
            
          
          </div>
        </div>
    
      </div>
  

  
</div>

<h1>Trending</h1>
  <div class="container">
 
    <div class="col">

        <div class="card-container">
         <a href="#"><img src="{% static 'images/cover3.jpg' %}" class="card_img" alt="altaf"></a> 
          
          <div class="card">
            <h4>1-Juno Solves 39-Year Old Mystery of Jupiter Lightning</h4>
    
            <span class"chev">&rsaquo; <p>Date|author</p> </span>
            
          
          </div>
        </div>
    
      </div>
  
  
      <div class="col">

        <div class="card-container">
         <a href="#"><img src="{% static 'images/cover3.jpg' %}" class="card_img" alt="altaf"></a> 
          
          <div class="card">
            <h4>1-Juno Solves 39-Year Old Mystery of Jupiter Lightning</h4>
    
            <span class"chev">&rsaquo; <p>Date|author</p> </span>
            
          
          </div>
        </div>
    
      </div>
  
      <div class="col">

        <div class="card-container">
         <a href="#"><img src="{% static 'images/cover3.jpg' %}" class="card_img" alt="altaf"></a> 
          
          <div class="card">
            <h4>1-Juno Solves 39-Year Old Mystery of Jupiter Lightning</h4>
    
            <span class"chev">&rsaquo; <p>Date|author</p> </span>
          </div>
        </div>

    
      </div>
    


      <!-- container finish div--> 
   </div>
    
</body>
</html>