
{% load static %}



 <div class="header">
	 
    <div class="header_logo">
        <a href="#"> <img src="{% static 'images/github.png' %}" alt="Account"> </a>
   </div>
   <div class="header_icons ">
        <ul  class ="icons_image">
           <li  >
             <a href="#"></a>
             <p>Home</p>
           </li>
           <li>
             <a href="#"><img src="{% static 'images/work-from-home.png' %}" class="header_image"  alt="About"></a>
             <p>About</p>
             
           </li>
           
    {% if request.user.is_authenticated %}
           <li>
             <a href="{% url 'account:logout' %}"><img src="{% static 'images/writing.png' %}" class="header_image" alt="logout"></a>
             <p>Logout</p>
           </li>
    {% else %}

           <li>
            <a href="{% url 'account:register' %}"><img src="{% static 'images/resume.png' %}" class="header_image" alt="Register"></a>
            <p>Register</p>
          </li>
          <li>
            <a href="{% url 'account:login' %}"><img src="{% static 'images/contact.png' %}" class="header_image" alt="login"></a>
            <p>Login</p>
          </li>
    {% endif %}

       </ul>
   </div>
{% if request.user.is_authenticated %}
   <div class="header_logo2">
      <a href="{% url 'account:profile-page' %}"> <img src="{% static 'images/man.png' %}" alt="Account"> </a>
   </div>
{% endif %}
</div>

