{%extends 'baseapp/main.html' %}
{% load static %}
{% block content %}



<div class="container">
	<div class="row flex-lg-nowrap">
	  <div class="col-12 col-lg-auto mb-3" style="width: 200px;">
		<div class="card p-3">
		  <div class="e-navlist e-navlist--active-bg">
			<ul class="nav">
			  <li class="nav-item"><a class="nav-link px-2 active" href="./overview.html"><i class="fa fa-fw fa-bar-chart mr-1"></i><span>Overview</span></a></li>
			  <li class="nav-item"><a class="nav-link px-2" href="./users.html"><i class="fa fa-fw fa-th mr-1"></i><span>CRUD</span></a></li>
			  <li class="nav-item"><a class="nav-link px-2" href="./settings.html"><i class="fa fa-fw fa-cog mr-1"></i><span>Settings</span></a></li>
			</ul>
		  </div>
		</div>
	  </div>
   
	  <div class="col">
		<div class="row">
		  <div class="col mb-3">
			<div class="card">
			  <div class="card-body">
				<div class="e-profile">
				  <div class="row">
					<div class="col-12 col-sm-auto mb-3">
					  <div class="mx-auto" style="width: 140px;">	
						  <img  class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);"  src="{{form.initial.profile_image.url  }}" alt="codingwithmitch logo">
					  </div>
					</div>
					<div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
					  <div class="text-center text-sm-left mb-2 mb-sm-0">
						<h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{request.user.full_name}}</h4>
						<p class="mb-0">@{{request.user.username}}</p>
						<div class="text-muted"><small>{{request.user.last_login}}</small></div>
						<div class="mt-2">
						  <button class="btn btn-primary" type="button">
							<i class="fa fa-fw fa-camera"></i>
							<span>Change Photo</span>
						  </button>
						</div>
					  </div>
					  <div class="text-center text-sm-right">
						<span class="badge badge-secondary">administrator</span>
						<div class="text-muted"><small>{{request.user.date_joined}}</small></div>
					  </div>
					</div>
				  </div>
				  <ul class="nav nav-tabs">
					<li class="nav-item"><a href="" class="active nav-link">Settings</a></li>
				  </ul>
				  <div class="tab-content pt-3">
					<div class="tab-pane active">
					  <form class="form" method="post"novalidate="">
						{% csrf_token %}
						<div class="row">
						  <div class="col">
							<div class="row">
							  <div class="col">
								<div class="form-group">
								  <label>Full Name</label>
								  <input class="form-control" type="text" name="full_name" placeholder="name" required value="{{form.initial.full_name}}">
								</div>
							  </div>
							  <div class="col">
								<div class="form-group">
								  <label>Username</label>
								  <input class="form-control" type="text" name="username" placeholder="Username" required value="{{form.initial.username}}">
								</div>
							  </div>
							</div>
							<div class="row">
							  <div class="col">
								<div class="form-group">
								  <label>Email</label>
								  <input type="email" name="email"  class="form-control" placeholder="Email address" required autofocus value={{form.initial.email}}>
								</div>
							  </div>
							</div>
							<div class="row">
							  <div class="col mb-3">
								<div class="form-group">
								  <label>About</label>
								  <textarea type="text" name="bio" id="id_input_username" class="form-control" placeholder="Bio" required
								  value="{{form.initial.bio}}" rows="3"></textarea>
								</div>
							  </div>
							</div>
						  </div>
						</div>
						<div class="row">
						  <div class="col-12 col-sm-6 mb-3">
							<div class="mb-2"><b>Change Password</b></div>
							<div class="row">
							  <div class="col">
								<div class="form-group">
								  <label>Current Password</label>
								  <input class="form-control" type="password" placeholder="••••••">
								</div>
							  </div>
							</div>
							<div class="row">
							  <div class="col">
								<div class="form-group">
								  <label>New Password</label>
								  <input class="form-control" type="password" placeholder="••••••">
								</div>
							  </div>
							</div>
							<div class="row">
							  <div class="col">
								<div class="form-group">
								  <label>Confirm <span class="d-none d-xl-inline">Password</span></label>
								  <input class="form-control" type="password" placeholder="••••••"></div>
							  </div>
							</div>
						  </div>
						  <div class="col-12 col-sm-5 offset-sm-1 mb-3">
							<div class="mb-2"><b>Keeping in Touch</b></div>
							<div class="row">
							  <div class="col">
								<label>Email Notifications</label>
								<div class="custom-controls-stacked px-2">
								  <div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="notifications-blog" checked="">
									<label class="custom-control-label" for="notifications-blog">Blog posts</label>
								  </div>
								  <div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="notifications-news" checked="">
									<label class="custom-control-label" for="notifications-news">Newsletter</label>
								  </div>
								  <div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="notifications-offers" checked="">
									<label class="custom-control-label" for="notifications-offers">Personal Offers</label>
								  </div>
								</div>
							  </div>
							</div>
						  </div>
						</div>

					{% for field in form %}
					<p>
						{% for error in field.errors %}
						<p style="color: red">{{ error }}</p>
						{% endfor %}
					</p>
					{% endfor %}
					{% if form.non_field_errors %}
						<div style="color: red">
						<p>{{form.non_field_errors}}</p>
						</div>

					{% endif %}
						<div class="row">
						  <div class="col d-flex justify-content-end">
							<button class="btn btn-primary" type="submit">Save Changes</button>
						  </div>
						</div>
					  </form>
   
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
   
		  <div class="col-12 col-md-3 mb-3">
			<div class="card mb-3">
			  <div class="card-body">
				<div class="px-xl-3">
				  <button class="btn btn-block btn-secondary">
					<i class="fa fa-sign-out"></i>
					<span>Logout</span>
				  </button>
				</div>
			  </div>
			</div>
			<div class="card">
			  <div class="card-body">
				<h6 class="card-title font-weight-bold">Support</h6>
				<p class="card-text">Get fast, free help from our friendly assistants.</p>
				<button type="button" class="btn btn-primary">Contact Us</button>
			  </div>
			</div>
		  </div>
		</div>
   
	  </div>
	</div>
	</div>


	{% endblock content %}

