{%extends 'baseapp/main.html' %}
{% load static %}
{% block content %}


        
    <h1  style="text-align: center; background-color: rgb(233, 236, 239);">Post A New Blog</h1>
        
        <h1><a href="{% url 'account:profile-page' %}">Back To Home</a></h1> 
            
         
 

{% load crispy_forms_tags %}
{% if user.is_authenticated %}
    <form  method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 offset-md-3">
            {{ form|crispy }}
            </div>
            
        </div>
        <input class="btn btn-success col-md-6 offset-md-3" type="submit" value="Post">
    </form>
{% endif %}
{% endblock%}



